
/* .kesha {
    /* background-color: black;
    width: 0;
    height: 0;
    border-radius: 100px;
    
    border-left: 100px solid orange;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    

     width: 100px;
     height: 100px;
     /* background-color: black; */

     /* width: 100px;
     height: 100px;
     background-color: blue;
} */ 
